{% extends 'layout.html' %}

{% block body %}
  <h1>Add Items</h1>
  {% from "includes/_formhelpers.html" import render_field %}
  <form method="POST" action="">
    <h3>Select items for your {{session.propertyType}}:</h3>
    <div class="form-group">
      {{render_field(form.crops, class_="form-control")}}<br>
      {{render_field(form.animals, class_="form-control")}}<br>
    </div>
    <div class="text-right"><input type="submit" class="btn btn-primary" value="Submit"></div><br>
  </form>
{% endblock %}
