{% extends 'layout.html' %}

{% block body %}
  <h1>Add Property</h1>
  {% from "includes/_formhelpers.html" import render_field %}
  <form method="POST" action="">
    <h3>Enter the following information about your property:</h3>
    <div class="form-group">
      {{render_field(form.propertyname, class_="form-control")}}
    </div>
    <div class="form-group">
      {{render_field(form.propertytype, class_="form-control")}}
    </div>
    <div class="form-group">
      {{render_field(form.streetaddress, class_="form-control")}}
    </div>
    <div class="form-group">
      {{render_field(form.city, class_="form-control")}}
    </div>
    <div class="form-group">
      {{render_field(form.zipcode, class_="form-control")}}
    </div>
    <div class="form-group">
      {{render_field(form.size, class_="form-control")}}
    </div>
    <div class="form-group">
      {{render_field(form.public, class_="form-control")}}
    </div>
    <div class="form-group">
      {{render_field(form.commercial, class_="form-control")}}
    </div>
    <p><input type="submit" class="btn btn-primary" value="Submit"></p>
  </form>
{% endblock %}
