{% extends 'layout.html' %}

{% block body %}
  <h1>Add Property</h1>
  {% from "includes/_formhelpers.html" import render_field %}
  <form method="POST" action="">
    <h3>Enter the following information about your property:</h3>
    <div class="form-group">
      {{render_field(form.propertyName, class_="form-control")}}<br>
      {{render_field(form.propertyType, class_="form-control")}}<br>
      {{render_field(form.street, class_="form-control")}}<br>
      {{render_field(form.city, class_="form-control")}}<br>
      {{render_field(form.zipCode, class_="form-control")}}<br>
      {{render_field(form.size, class_="form-control")}}<br>
      {{render_field(form.isPublic, class_="form-control")}}<br>
      {{render_field(form.isCommercial, class_="form-control")}}<br>
    </div>
    <div class="text-right"><input type="submit" class="btn btn-primary" value="Submit"></div><br>
  </form>
{% endblock %}
