{% extends 'layout.html' %}

{% block body %}
    <div class="text-center">
        <h1>Welcome Admin Name</h1>
        <h3>What would you like to do?</h3>

        <a href="/" class="btn btn-primary">View Visitors List</a><br>
        <a href="/" class="btn btn-primary">View Owners List</a><br>
        <a href="/" class="btn btn-primary">View Confirmed Properties</a><br>
        <a href="/" class="btn btn-primary">View Unconfirmed Properties</a><br>
        <a href="/" class="btn btn-primary">View Approved Animals and Crops</a><br>
        <a href="/" class="btn btn-primary">View Pending Animals and Crops</a><br>
        <a href="/" class="btn btn-primary">Log Out</a>

    </div>
{% endblock %}
