{% extends 'layout.html' %}

{% block body %}
    <div class="text-center">
        <h1>Welcome {{session.username}}</h1>
        <h3>What would you like to do?</h3>
    </div><br>
    <div class="text-center">
        <a href="/VisitorOverview" class="btn btn-primary">View Visitors List</a>
        <a href="/OwnerOverview" class="btn btn-primary">View Owners List</a>
    </div><br>
    <div class="text-center">
        <a href="/ConfirmedProperties" class="btn btn-primary">View Confirmed Properties</a>
        <a href="/UnconfirmedProperties" class="btn btn-primary">View Unconfirmed Properties</a>
    </div><br>
    <div class="text-center">
        <a href="/ApprovedItems" class="btn btn-primary">View Approved Items</a>
        <a href="/PendingItems" class="btn btn-primary">View Pending Items</a>
    </div><br>
    <div class="text-center">
        <a href="/Logout" class="btn btn-danger">Log Out</a>
    </div>
{% endblock %}
