{% extends 'layout.html' %}

{% block body %}

    <h1>Approved Items</h1>

    <table class="table table-striped">
        <tr>
            <th>Name</th>
            <th>Type</th>
            <th></th>
        </tr>
        {% for item in items %}
            <tr>
                <td>{{item.Name}}</td>
                <td>{{item.Type}}</td>
                <td>
                    <form action="{{url_for('DeleteItem', name=item.Name)}}" method="post">
                        <input type="hidden" name="_method" value="DELETE">
                        <input type="submit" value="Delete" class="btn btn-danger">
                    </form>
                </td>
            </tr>
        {% endfor%}
    </table>

    <div class="text-left">
        <form action="{{url_for('SearchItems')}}" method="post">
            <input type="hidden" name="_method" value="Search">
            <select name="column">
                <option value="">Search by</option>
                <option value="Name">Name</option>
                <option value="Type">Type</option>
            </select><br>
            <input type="text" name="searchterm"><br>
            <input type="submit" value="Search" class="btn btn-submit">
        </form>
    </div>

    <div class="text-center">
        <form action="{{url_for('AddItem')}}" method="post">
            <input type="hidden" name="_method" value="ADD">
            <input type="hidden" name="approved" value="True">
            <select name="type">
                <option>Select Item Type</option>
                <option value="ANIMAL">Animal</option>
                <option value="FRUIT">Fruit</option>
                <option value="NUT">Nut</option>
                <option value="VEGETABLE">Vegetable</option>
                <option value="FLOWER">Flower</option>
            </select><br>
            <input type="text" name="name"><br>
            <input type="submit" value="Add Item" class="btn btn-submit">
        </form>
    </div>


    <div class="text-right">
        <a href="/AdminFunctionality" class="btn btn-primary">Back</a>
    </div>

{% endblock %}