{% extends 'layout.html' %}

{% block body %}

    <h1>Approved Items</h1>

    <table class="table table-striped">
        <tr>
            <th>Name</th>
            <th>Type</th>
            <th></th>
        </tr>
        {% for item in items %}
            <tr>
                <td>{{item.Name}}</td>
                <td>{{item.Type}}</td>
                <td>
                    <form action="{{url_for('DeleteItem', name=item.Name)}}" method="post">
                        <input type="hidden" name="_method" value="DELETE">
                        <input type="submit" value="Delete" class="btn btn-danger">
                    </form>
                </td>
            </tr>
        {% endfor%}
    </table>

    <!-- insert searching functionality -->
    <a href="/" class="btn btn-default">Search</a>

    <!-- insert adding item functionality -->
    <form action="{{url_for('AddItem')}}" method="post">
        <input type="hidden" name="_method" value="ADD">
        <input type="">
        <input type="">
        <input type="submit" value="Add Item" class="btn btn-submit">
    </form>


    <div class="text-right">
        <a href="/AdminFunctionality" class="btn btn-primary">Back</a>
    </div>

{% endblock %}