{% extends 'layout.html' %}

{% block body %}
    <h1>Confirmed Properties</h1>
    <p>Click on a property to manage it</p>

    <table class="table table-striped">
        <tr>
            <th>Name</th>
            <th>ID</th>
            <th>Street</th>
            <th>City</th>
            <th>Zip</th>
            <th>Size</th>
            <th>Type</th>
            <th>Public</th>
            <th>Commercial</th>
            <th>Approved by</th>
            <th>Average Rating</th>
        </tr>
        {% for property in properties %}
            <tr>
                <td><a href="/ManageProperty/{{property.ID}}/c">{{property.Name}}</a></td>
                <td>{{"%05d"|format(property.ID)}}</td>
                <td>{{property.Street}}</td>
                <td>{{property.City}}</td>
                <td>{{property.Zip}}</td>
                <td>{{property.Size}}</td>
                <td>{{property.PropertyType}}</td>
                <td>{% if property.IsPublic == 1 %}Yes{% else %}No{% endif %}</td>
                <td>{% if property.IsCommercial == 1 %}Yes{% else %}No{% endif %}</td>
                <td>{{property.ApprovedBy}}</td>
                <td>{% if property.AverageRating %}{{"%.1f"|format(property.AverageRating)}}{% else %}{{property.AverageRating}}{% endif %}</td>
            </tr>
        {% endfor%}
    </table>

    <div class="text-left">
        <form action="{{url_for('SearchProperties')}}" method="post">
            <input type="hidden" name="_method" value="Search">
            <input type="hidden" name="searchType" value='ConfirmedProperties'>
            <select name="column">
                <option value="">Search by</option>
                <option value = Name>Name</option>
                <option value = ID>ID</option>
                <option value = Street>Street</option>
                <option value = City>City</option>
                <option value = Zip>Zip</option>
                <option value = Size>Size</option>
                <option value = PropertyType>Type</option>
                <option value = IsPublic>Public</option>
                <option value = IsCommercial>Commercial</option>
                <option value = ApprovedBy>Approved By</option>
                <option value = Rating>Average Rating</option>
            </select><br>
            <input type="text" name="searchterm"><br>
            <input type="submit" value="Search" class="btn btn-submit">
        </form>
    </div>
    <br>
    <div class="text-left">
        <form action="{{url_for('SortBy')}}" method="post">
            <input type="hidden" name="sortType" value="ConfirmedProperties">
            <select name="column">
                <option value="">Sort by</option>
                <option value = Name>Name</option>
                <option value = Zip>Zip</option>
                <option value = PropertyType>Type</option>
                <option value = ApprovedBy>Approved By</option>
                <option value = AverageRating>Average Rating</option>
            </select><br>
            <input type="submit" value="Sort" class="btn btn-submit">
        </form>
    </div>

    <div class="text-right">
        <a href="/AdminFunctionality" class="btn btn-primary">Back</a>
    </div>

{% endblock %}
