{% extends 'layout.html' %}

{% block body %}

    <h1>Items Pending Approval</h1>

    <table class="table table-striped">
        <tr>
            <th>Name</th>
            <th>Type</th>
            <th></th>
            <th></th>
        </tr>
        {% for item in items %}
            <tr>
                <td>{{item.Name}}</td>
                <td>{{item.Type}}</td>
                <td>
                    <form action="{{url_for('ApproveItem', name=item.Name)}}" method="post">
                        <input type="hidden" name="_method" value="APPROVE">
                        <input type="submit" value="Approve" class="btn btn-default">
                    </form>
                </td>
                <td>
                    <form action="{{url_for('DeleteItem', name=item.Name)}}" method="post">
                        <input type="hidden" name="_method" value="DELETE">
                        <input type="submit" value="Delete" class="btn btn-danger">
                    </form>
                </td>
            </tr>
        {% endfor%}
    </table>

    <div class="text-left">
        <form action="{{url_for('SortBy')}}" method="post">
            <input type="hidden" name="sortType" value="PendingItems">
            <select name="column">
                <option value="">Sort by</option>
                <option value="Name">Name</option>
                <option value="Type">Type</option>
            </select><br>
            <input type="submit" value="Sort" class="btn btn-submit">
        </form>
    </div>

    <div class="text-right">
        <a href="/AdminFunctionality" class="btn btn-primary">Back</a>
    </div><br>

{% endblock %}