{% extends 'layout.html' %}

{% block body %}
    <h1><strong>{{property.Name}} Details</strong></h1>

    <p><strong>Owner: </strong>{{property.Owner}}</p>
    <p><strong>Owner Email: </strong>{{property.Email}}</p>
    <p><strong>Street: </strong>{{property.Street}}</p>
    <p><strong>City: </strong>{{property.City}}</p>
    <p><strong>Zip: </strong>{{property.Zip}}</p>
    <p><strong>Size (acres): </strong>{{property.Size}}</p>
    <p><strong>Number of Visits: </strong>{{property.NumVisits}}</p>
    <p><strong>Average Rating: </strong>{% if property.AverageRating %}{{"%.1f"|format(property.AverageRating)}}{% else %}{{property.AverageRating}}{% endif %}</p>
    <p><strong>Type: </strong>{{property.PropertyType}}</p>
    <p><strong>Public: </strong>{% if property.IsPublic == 1 %}Yes{% else %}No{% endif %}</p>
    <p><strong>Commercial: </strong>{% if property.IsCommercial == 1 %}Yes{% else %}No{% endif %}</p>
    <p><strong>ID: </strong>{{"%05d"|format(property.ID)}}</p><br>
    <p><strong>Crops: </strong>{{crops}}</p>
    <p><strong>Animals: </strong>{{animals}}</p>

    {% if session.userType == 'VISITOR' %}
        <a href="/VisitorFunctionality" class="btn btn-primary">Log/Unlog Visit</a> <!-- figure out ish for doing the actual rating and how to make only visitors be able to see this -->
        <a href="/VisitorFunctionality" class="btn btn-primary">Back</a>
    {% elif session.userType == 'OWNER' %}
        <a href="/OwnerFunctionality" class="btn btn-primary">Back</a>
    {% endif %}


{% endblock %}
