{% extends 'layout.html' %}

{% block body %}
    <h1>Garden Details</h1>

    <p><strong>Name: </strong>GT Garden</p>
    <p><strong>Owner: </strong>GeorgiaTechGardens</p>
    <p><strong>Owner Email: </strong>gtgardens@gatech.edu</p>
    <p><strong>Visits: </strong>20</p>
    <p><strong>Address: </strong>Spring St SW</p>
    <p><strong>City: </strong>Atlanta</p>
    <p><strong>Zip: </strong>30308</p>
    <p><strong>Size (acres): </strong>0.5</p>
    <p><strong>Average Rating: </strong>3.6</p>
    <p><strong>Type: </strong>Garden</p>
    <p><strong>Public: </strong>No</p>
    <p><strong>Commercial: </strong>No</p>
    <p><strong>ID: </strong>00320</p>
    <p><strong>Crops: </strong>roses, tulips, sage</p>
    <p><strong>Animals: </strong>None</p>

    <a href="/" class="btn btn-primary">Log/Unlog Visit</a> <!-- figure out ish for doing the actual rating and how to make only visitors be able to see this -->
    <a href="/visitorfunctionality" class="btn btn-primary">Back</a>

{% endblock %}
