{% extends 'layout.html' %}

{% block body %}
    <h1><strong>{{property.Name}} Details</strong></h1>

    <p><strong>Owner: </strong>{{property.Owner}}</p>
    <p><strong>Owner Email: </strong>{{property.Email}}</p>
    <p><strong>Street: </strong>{{property.Street}}</p>
    <p><strong>City: </strong>{{property.City}}</p>
    <p><strong>Zip: </strong>{{property.Zip}}</p>
    <p><strong>Size (acres): </strong>{{property.Size}}</p>
    <p><strong>Number of Visits: </strong>{{property.NumVisits}}</p>
    <p><strong>Average Rating: </strong>{% if property.AverageRating %}{{"%.1f"|format(property.AverageRating)}}{% else %}{{property.AverageRating}}{% endif %}</p>
    <p><strong>Type: </strong>{{property.PropertyType}}</p>
    <p><strong>Public: </strong>{% if property.IsPublic == 1 %}Yes{% else %}No{% endif %}</p>
    <p><strong>Commercial: </strong>{% if property.IsCommercial == 1 %}Yes{% else %}No{% endif %}</p>
    <p><strong>ID: </strong>{{"%05d"|format(property.ID)}}</p><br>
    <p><strong>Crops: </strong>{% if crops %}{{crops}}{% else %}None{% endif %}</p>
    <p><strong>Animals: </strong>{% if animals %}{{animals}}{% else %}None{% endif %}</p>

    {% if session.userType == 'VISITOR' %}
        {% if logged %}
            <form action="{{url_for('UnlogVisit', ID=property.ID)}}" method="post">
                <input type="hidden" name="_method" value="UNLOG">
                <input type="submit" value="Unlog Visit" class="btn btn-primary">
            </form>
        {% else %}
            <form action="{{url_for('LogVisit', ID=property.ID)}}" method="post">
                <input type="hidden" name="_method" value="LOG">
                <select name='rating'>
                    <option value=0>Rating:</option>
                    <option value=1>1</option>
                    <option value=2>2</option>
                    <option value=3>3</option>
                    <option value=4>4</option>
                    <option value=5>5</option>
                </select>
                <input type="submit" value="Log Visit" class="btn btn-primary">
            </form>
        {% endif %}
        <a href="/VisitorFunctionality" class="btn btn-primary">Back</a>
    {% elif session.userType == 'OWNER' %}
        <a href="/OwnerFunctionality" class="btn btn-primary">Back</a>
    {% endif %}

{% endblock %}
