{% extends 'layout.html' %}

{% block body %}
    <h1>All Visitors in System</h1>
 

    <table class="table table-striped">
        <tr>
            <th>Username</th>
            <th>Delete Visitors</th>
            <th>Email</th>
            <th>Logged Visits</th>
            <th>Delete Log History</th>
        </tr>
        <!-- we'll need a for loop to iterate through for each row of the table -->
            {% for visitor in users %}
            <tr>
                <td>{{visitor.Username}}</td>
                <td>
                    <form action="{{url_for('DeleteVisitorAccount', username=visitor.Username)}}" method="post">
                        <input type="hidden" name="_method" value="DELETE">
                        <input type="submit" value="Delete" class="btn btn-danger">
                    </form>
                </td>
                <td>{{visitor.Email}}</td>
                <td>{{visitor.NumVisits}}</td>  
                <td>
                    <form action="{{url_for('DeleteLogHistory', username=visitor.Username)}}" method="post">
                        <input type="hidden" name="_method" value="DELETE">
                        <input type="submit" value="Delete" class="btn btn-danger">
                    </form>
                </td>
            </tr>
        {% endfor %}
    </table>

    <div class="text-left">
        <form action="{{url_for('SearchUsers')}}" method="post">
            <input type="hidden" name="_method" value="Search">
            <input type="hidden" name="searchType" value="VisitorOverview">
            <select name="column">
                <option value="">Search by</option>
                <option value="Username">Username</option>
                <option value="Email">Email</option>
                <option value="NumVisits">Logged Visits</option>
            </select><br>
            <input type="text" name="searchterm"><br>
            <input type="submit" value="Search" class="btn btn-submit">
        </form>
    </div>

    <div class="text-left">
        <form action="{{url_for('SortBy')}}" method="post">
            <input type="hidden" name="sortType" value="VisitorOverview">
            <select name="column">
                <option value="">Sort by</option>
                <option value="Username">Username</option>
                <option value="Email">Email</option>
                <option value="NumVisits">Logged Visits</option>
            </select><br>
            <input type="submit" value="Sort" class="btn btn-submit">
        </form>
    </div>

    <!-- insert searching functionality -->

    <div class="text-right">
        <a href="/AdminFunctionality" class="btn btn-primary">Back</a>
    </div>

{% endblock %}