{% extends 'layout.html' %}

{% block body %}
    <h1>Welcome {{session.username}}</h1>
    <p>Click on a property to view its details</p>

    <table class="table table-striped">

        <tr>
            <th>Name</th>
            <th>Address</th>
            <th>City</th>
            <th>Zip</th>
            <th>Size</th>
            <th>Type</th>
            <th>Public</th>
            <th>Commercial</th>
            <th>ID</th>
            <th>isValid</th>
            <th>Visits</th>
            <th>Avg. Rating</th>
        </tr>
        {% for property in properties %}
            <tr>
                <td><a href="/PropertyDetails/{{property.propertyID}}">{{property.propertyName}}</a></td>
                <td>{{property.Street}}</td>
                <td>{{property.City}}</td>
                <td>{{property.Zip}}</td>
                <td>{{property.Size}}</td>
                <td>{{property.propertyType}}</td>
                <td>{{property.isPublic}}</td>
                <td>{{property.isCommercial}}</td>
                <td>{{property.propertyID}}</td>
                <!-- DERIVED ATTRIBUTES: HAVE TO FIGURE THIS OUT -->
                <td>{{property.isValid}}</td>
                <td>{{property.numvisits}}</td>
                <td>{{property.rating}}</td>
            </tr>
        {% endfor %}
    </table>

    <select>
         <option value = searchby>Search by...</option>
        <option value = name>Name</option>
        <option value = address>Address</option>
        <option value = city>City</option>
        <option value = zip>Zip</option>
        <option value = size>Size</option>
        <option value = type>Type</option>
        <option value = public>Public</option>
        <option value = commerical>Commerical</option>
        <option value = id>ID</option>
        <option value = visits>Visits</option>
        <option value = avgrating>Avg. Rating</option>


    </select>



    <div class = "form-group">
        <input type= "text" name="Search term", class= "form-control", value= {{request.form.search}}>
    </div>
    <div class = "text-align: right">
        <!-- figure out how to appropriately redirect the search properties -->
        <a href="/" class="btn btn-primary">Search Properties</a>
    </div>

    <div style = "text-align:center">
        <a href="/VisitorHistory" class="btn btn-primary">View Visit History</a>
    </div>
    <div class = "text-left">
        <a href="/Logout" class="btn btn-primary">Log Out</a>
    </div>


{% endblock %}
