{% extends 'layout.html' %}

{% block body %}
    <h1>Your Visitor History</h1>

    <table class="table table-striped">
    <p>Click on a property to view its details/unlog a visit</p>
        <tr>
            <th>Name</th>
            <th>Date Logged</th>
            <th>Your Rating</th>
        </tr>
        {% for visit in visits %}
            <tr>
                <td><a href="/PropertyDetails/{{visit.propertyID}}">{{visit.Name}}</a></td>
                <td>{{visit.VisitDate}}</td>
                <td>{{visit.Rating}}</td>
            </tr>
        {% endfor %}
    </table>

    <div class="text-right">
        <a href="/VisitorFunctionality" class="btn btn-primary">Back</a>
    </div>

{% endblock %}
