{% extends 'layout.html' %}

{% block body %}
    <h1>Welcome {{session.username}}</h1>
    <p>Click on a property to view its details</p>

    <table class="table table-striped">

        <tr>
            <th>Name</th>
            <th>Address</th>
            <th>City</th>
            <th>Zip</th>
            <th>Size</th>
            <th>Type</th>
            <th>Public</th>
            <th>Commercial</th>
            <th>ID</th>
            <th>isValid</th>
            <th>Visits</th>
            <th>Avg. Rating</th>
        </tr>
        {% for property in properties %}
            <tr>
                <td><a href="/propertydetails/{{property.id}}">{{property.name}}</a></td>
                <td>{{property.streetaddress}}</td>
                <td>{{property.city}}</td>
                <td>{{property.zipcode}}</td>
                <td>{{property.size}}</td>
                <td>{{property.propertytype}}</td>
                <td>{{property.IsPublic}}</td>
                <td>{{property.IsCommercial}}</td>
                <td>{{property.prepertyid}}</td>
                <td>{{property.IsValid}}</td>
                <!-- DERIVED ATTRIBUTES HAVE TO FIGURE THIS OUT -->
                <td>{{property.numvisits}}</td>
                <td>{{property.rating}}.7</td>
            </tr>
        {% endfor %}
    </table>

    <select>
         <option value = searchby>Search by...</option>
        <option value = name>Name</option>
        <option value = address>Address</option>
        <option value = city>City</option>
        <option value = zip>Zip</option>
        <option value = size>Size</option>
        <option value = type>Type</option>
        <option value = public>Public</option>
        <option value = commerical>Commerical</option>
        <option value = id>ID</option>
        <option value = visits>Visits</option>
        <option value = avgrating>Avg. Rating</option>


    </select>



    <div class = "form-group">
        <input type= "text" name="Search term", class= "form-control", value= {{request.form.search}}>
    </div>
    <div class = "text-align: right">
        <a href="/" class="btn btn-primary">Search Properties</a>
    </div>

    <div style = "text-align:center">
        <a href="/visitorhistory" class="btn btn-primary">View Visit History</a>
    </div>
    <div class = "text-left">
        <a href="/logout" class="btn btn-primary">Log Out</a>
    </div>


{% endblock %}
